DB_ENGINE='django.db.backends.postgresql'
DB_NAME='postgres'
POSTGRES_USER='postgres' 
POSTGRES_PASSWORD='postgres'
DB_HOST='db'
DB_PORT='5432'
SECRET_KEY = (str,'qn*_a&_nj8xp__uz#-6itha4o$(!&yg8#&ua^ea(k%*qsd5^ia')